<section class="tool-bar">
	<button ng-click="levelEdit.save()" class="btn btn-default">Save</button>
	<div class="input-group">
		<label>Width</label>
		<input type="number" ng-disabled="creator.interactionDisabled" class="form-control" ng-model="levelEdit.registry[levelEdit.id].width"/>
	</div>
	<div class="input-group">
		<label>Height</label>
		<input type="number" ng-disabled="creator.interactionDisabled" class="form-control" ng-model="levelEdit.registry[levelEdit.id].height"/>
	</div>
	<div class="input-group">
		<label>Scale</label>
		<input type="number" ng-disabled="creator.interactionDisabled" class="form-control pull-right" ng-model="levelEdit.registry[levelEdit.id].scale"/>
	</div>
	<div class="input-group">
		<label>AppleCount</label>
		<input type="number" ng-disabled="creator.interactionDisabled" class="form-control pull-right" ng-model="levelEdit.registry[levelEdit.id].appleCount"/>
	</div>
	<div class="input-group">
		<label>Par</label>
		<input type="number" ng-disabled="creator.interactionDisabled" class="form-control pull-right" ng-model="levelEdit.registry[levelEdit.id].par"/>
	</div>
	<ul class="list-group tool-objects">
		<li tooltip-placement="top" uib-tooltip="{{objectId}}" ng-click="levelEdit.createObject(objectId)" class="list-group-item" ng-repeat="(objectId, object) in levelEdit.objects">
			<img ng-src="{{levelEdit.appConfig.cdn}}objects/{{objectId}}.png"/>
		</li>
	</ul>
</section>
<section class="fabric-canvas-container">
	<canvas id="canvas" class="level-canvas"></canvas>
</section>