<nav class="secondary form-inline">
	<input type="text" ng-disabled="enumEditor.interactionDisabled" class="form-control" name="newEnumInput" ng-model="enumEditor.newEnumInput"/>
	<button ng-click="enumEditor.createNew()" class="btn btn-default" ng-disabled="enumEditor.interactionDisabled" ><i class="glyphicon glyphicon-plus"></i>Create New</button>
	<button ng-click="enumEditor.save()" class="btn btn-primary" ng-disabled="enumEditor.interactionDisabled" >Save</button>
</nav>
<ul class="list-group secondary-content enum-editor-content">
	<li class="list-group-item" ng-repeat="enum in enumEditor.enumList" >
		<form>
			
			<label for="inlineFormInput"><h4>{{enum.id}}</h4></label>
			<button class="btn btn-default pull-right" ng-disabled="enumEditor.interactionDisabled" ng-click="enumEditor.deleteEnum(enum.id)" >Delete</button>
			
			<div class="input-group">
				<input type="text" ng-disabled="enumEditor.interactionDisabled" class="form-control" ng-model="enum.inputs.newEnumName"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-disabled="enumEditor.interactionDisabled" ng-click="enumEditor.addKey(enum.id)" >Create New</button>
				</span>
			</div>
		</form>
		<ul class="list-group">
			<form ng-repeat="(key, value) in enum.key_values" class="list-group-item">
				<label>{{key}}:{{value}}</label>
				<div class="input-group">
					<input type="text" ng-disabled="enumEditor.interactionDisabled"  class="form-control" ng-model="value" ng-change="enumEditor.update_key(enum.id, key, value)"/>
					<span class="input-group-btn">
						<button class="btn btn-default" ng-disabled="enumEditor.interactionDisabled" ng-click="enumEditor.deleteValue(enum.id, key)" >Delete</button>
					</span>
				</div>
			</form>
		</ul>
	</li>
</ul>