<nav class="secondary form-inline">
	<div class="input-group">
		<input type="text" ng-disabled="createObjects.interactionDisabled" class="form-control" ng-model="createObjects.newObjectInput"/>
		<span class="input-group-btn">
			<button ng-click="createObjects.createNew()" class="btn btn-default" ng-disabled="createObjects.interactionDisabled" ><i class="glyphicon glyphicon-plus"></i></button>
		</span>
	</div>
	
	<button ng-click="createObjects.save()" class="btn btn-primary pull-right" ng-disabled="createObjects.interactionDisabled" >Save</button>
</nav>
<section class="secondary-content">
	<ul class="list-group">
		<form ng-repeat="(objectId, object) in createObjects.objects" class="list-group-item">
			<label><h4>{{objectId}}</h4></label>
			<div class="input-group">
				<input type="text" ng-disabled="createObjects.interactionDisabled" class="form-control" ng-model="createObjects.inputs.newParamName"/>
				<span class="input-group-btn">
					<div class="btn-group" uib-dropdown is-open="status.isopen">
						<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							{{createObjects.inputs.selectedType}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li ng-repeat="(enumKey, enumValue) in createObjects.enumData.ObjectParamTypes" role="menuitem" ><a href="#" ng-click="createObjects.dropdownSelectType(enumKey)">{{enumKey}}</a></li>
						</ul>
					</div>
					<button class="btn btn-default" ng-disabled="createObjects.interactionDisabled" ng-click="createObjects.createNewProperty(objectId)" ><i class="glyphicon glyphicon-plus"></i></button>
				</span>
			</div>
			<ul class="list-group">
				<li ng-repeat="(paramId, param) in object.params">
					<label>{{paramId}}:{{param.type}}:{{param.value}}:{{param.valueKey}}</label>
					<div ng-if="param.type == createObjects.appleEnums.ObjectParamType.ENUM"  class="input-group">
						<div class="btn-group" uib-dropdown is-open="status[paramId].isopen">
							<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
								{{createObjects.inputs.objects[objectId].params[paramId].valueKey}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-repeat="(enumId, enum) in createObjects.enumData" role="menuitem" ><a href="#" ng-click="createObjects.paramEnumChange(objectId, paramId, enumId)">{{enumId}}</a></li>
							</ul>
						</div>
						<div class="btn-group" uib-dropdown is-open="status[paramId].value.isopen">
							<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
								{{createObjects.objects[objectId].params[paramId].value}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-repeat="(enumId, enum) in createObjects.enumData[createObjects.inputs.objects[objectId].params[paramId].valueKey]" role="menuitem" ><a href="#" ng-click="createObjects.paramEnumValueChange(objectId, paramId, enum)">{{enumId}}:{{enum}}</a></li>
							</ul>
						</div>
					</div>
					<div ng-if="param.type == createObjects.appleEnums.ObjectParamType.STRING">
						<input type="text" ng-disabled="createObjects.interactionDisabled" class="form-control" ng-model="createObjects.inputs.objects[objectId].params[paramId].value" ng-change="createObjects.paramValueChange(objectId, paramId, this.value)"/>
					</div>
					<div ng-if="param.type == createObjects.appleEnums.ObjectParamType.NUMBER">
						<input type="number" ng-disabled="createObjects.interactionDisabled" class="form-control" ng-model="createObjects.inputs.objects[objectId].params[paramId].value" ng-change="createObjects.paramValueChange(objectId, paramId, this.value)"/>
					</div>
						<!-- appleEnums.ObjectParamType.ENUM-->
				</li>
			</ul>
		</form>
	</ul>
</section>